h1 {
    color: red;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    padding-bottom: 0.6rem;
    background: grey;
    font-family: Verdana, sans-serif;
    border-bottom: 0.2rem solid black;
    
}
h2 {
    color: blue;
    text-align: center;
}

body {
    margin: 0;
    padding-top: 0;
    text-align: center;
    background: lightgrey;
}