/* Selects all <h1> elements and makes them blue */
h1 {
  color: darkblue;
}
h2 {
    color: blue;
}

/* Selects elements with class "important" and makes text bold */
.important {
  font-weight: bold;
}

/* Selects element with id "main" and adds padding */
#main {
  padding: 20px;
}