/* Selects all <h1> elements and makes them blue */
h1 {
    color: darkblue;
    text-align: center;
    font-size: 4rem;
    padding-top: 0rem;
}
h2 {
    color: blue;
    text-align: center;
}

body {
    margin: 0;
    padding-top: 0;
    text-align: center;
}